.pageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.inputGroup {
  text-align: left;

  label {
    color: #A3A5A7;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 600;
  }

  input {
    padding: 15px;
    font-size: 15px;
    outline: none;
    width: 100%;
    border: 1px solid #E9E9E9;
  }
}
