.pageContainer {
  margin-top: 50px;
  text-align: center;
}

.inputGroup {
  text-align: left;

  label {
    color: #A3A5A7;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 600;
  }

  input {
    padding: 15px;
    font-size: 15px;
    outline: none;
    width: 100%;
  }
}
